body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

#whole {
  background-color: #f0efef;
}

header {
  background-color: #033048;
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.logo {
 margin: 0px;
 padding: 20px 50px 15px 100px;
 font-size: 24px;
 font-weight: bolder;
 color: white;
}

.top_nav {
  display: flex;
  justify-content: flex-end;;
}

.top_nav ul {
  display: flex;
  margin: 0px;
  padding-right: 100px;
}

.top_nav ul li{
  display: inline-block;
  padding: 20px 50px 15px 5px;
  color: #f9e42e;
  font-size: 20px;
  font-weight: 600;
}

header nav a {
  text-decoration: none;
}

a:link {
  color: #f9e42e;
  text-decoration: none;
}

a:visited {
  color: #f9e42e;
}

a:hover {
  color: red;
}

.hero {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 50px;
}

#main_container {
  width: 700px;
  margin: 0px;
  padding: 20px 20px 5px 10px;
  color: #033048;
}

.top_content {
  border-bottom: 1px solid black;
}

.top_content p {
  text-align: justify;
}


.bottom_content {
  border-bottom: 1px solid black;
}

.bottom_content p {
  text-align: justify;
}

.top_content p em {
  float: left;
  font-size: 35px;
  font-weight: bold;
}

.bottom_content p em {
  font-size: 30px;
  font-weight: bold;
}

/*read more can't move to the right side*/

#right_aside {
  width: 240px;
  justify-content: flex-end;
  padding-top: 20px;
  color: #033048;
}

.categories ul {
  padding-left: 0px;
}

.categories h2 {
  font-weight: bold;
}

.about h2 {
  font-weight: bold;
}

.about p {
  text-align: justify;
}

.learn_more a {
  font-weight: bold;
  color: #033048;
}

.sign_up {
  background-color: #f9e42e;
  margin: 0px;
  padding: 20px;
  text-align: center;
}

button {
  color: white;
  padding: 5px 30px;
  background-color: #033048;
  border-radius: 5%;
  border-style: none;
}

footer {
  background-color: #121212;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

footer h1 {
  color: #f9e42e;
  margin-top: 0px;
  font-size: 24px;
  font-weight: bold;
}

footer p {
  color: #f0efef;
  font-size: 10px;
  font-weight: lighter;
}

i {
  padding: 5px 10px 5px 10px;
  color: white;
}

.read_more {
  text-align: right;
  padding: 20px 0px;
}

.read_more a {
  color: black;
}
